<header class="header">
    <nav class="nav">
        <div class="nav__log">
            <a href="#"><img class="logo" active>
                <!-- <bold>ᄵ</bold> -->
            </a>
        </div>

        <div class="nav__menu">
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#" class="nav__link" active>home</a>
                </li>
                <li class="menu__item">
                    <a href="#whoami" class="nav__link" active>whoami</a>
                <li class="menu__item">
                    <a href="#papers" class="nav__link" active>papers</a>
                </li>
                <li class="menu__item">
                    <a href="#posts" class="nav__link" active>blog posts</a>
                </li>
                <li class="menu__item">
                    <a href="mailto:hi@joannayoo.dev" class="nav__link" active>say hi 👋</a>
                </li>
            </ul>
        </div>

        <div class="nav__toggle">
            <i class="bx bx-menu"></i>
        </div>

    </nav>
</header>