<section class="section background" id="whoami">
  <div class="section__title">whoami</div>
  <div class="section__content">
    <p>
      Hi, I am a machine learning engineer at
      <a class="underline-link" href="https://cohere.ai/" target="_blank"> a stealth startup</a> in Toronto.
      I studied mathematics in UBC and jazz bass in Capilano University in Vancouver.

    </p>
    <p>
      I am interested in:
    <ul>
      <li> - training / optimizing <strong>large deep learning models</strong></li>
      <li> - ML application in <strong>healthcare</strong></li>
      <li> - <strong>music</strong> & AI</li>
    </ul>
    </p>
    <p>
      I also love going to the concerts, playing any kinds of instruments, and rock climbing.
    </p>

    <div>
      <span>
        <a href="{{site.baseurl}}/resume.pdf" target="_blank" class="highlight-link">download resume</a>
      </span>


    </div>
  </div>
</section>